// Fonts
$default-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$default-font-size: 1em;

// Global colors
$base-color: #EDEDED;
$default-background-color: $base-color;

// Borders
$default-border-color:  darken($default-background-color,10%);
$default-border-size: 2px;
$default-border-radius: false; // do not generate

//Splitter
$default-splitter-size: 0.6em;
$default-splitter-color: darken($base-color,20%);
$default-splitter-hover-color: darken($default-splitter-color,7%);
$default-splitter-active-color: darken($default-splitter-color,15%);