// Base values
$default-background-color:  #fff;
$default-text-color:  #000;
$default-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$default-font-size: 1em;

// Colors
$base-color: #E0E0E0;

// splitter

$splitter-color: red; // darken($base-color,20%);
$splitter-active-color: darken($splitter-color,5%);
$splitter-size: 7px;