#{$prefix}-container {
    overflow: hidden;
    #{$prefix}-body {
        position: relative;
        top:0px;
        left:0px;
        #{$prefix}-body-inner {
            display: block;
            top:0px;
            left:0px;
        }
    }
}