#{$prefix}-hbox-layout {
    white-space: nowrap;
    #{$prefix}-layout-item {
        position:relative;
        display: inline-block;
    }
}

#{$prefix}-vbox-layout {
    white-space: nowrap;
    #{$prefix}-layout-item {
        position:relative;
        display: block;
    }
}