[data-scroll=none] {
    overflow: hidden;
}

[data-scroll=auto] {
    overflow: auto;
}

[data-scroll=fixedboth] {
    overflow: scroll;
}

[data-scroll=fixedhorizontal] {
    overflow-y: hidden;
    overflow-x: scroll;
}

[data-scroll=fixedvertical] {
    overflow-y: scroll;
    overflow-x: hidden;
}