#{$prefix}-scrollbar {
    display: inline-block;
    position: absolute;
    background-color: $scroll-track-color;

    #{$prefix}-scrollbar-handle {
        display: inline-block;
        position: absolute;
        background-color: $scroll-handle-color;

        &:hover {
            background-color: $scroll-handle-hover-color;
        }

        &:active {
            background-color: $scroll-handle-active-color;
        }
    }
}