#{$prefix}-scrollbar {

    display: inline-block;
    position: absolute;

    #{$prefix}-scrollbar-handle {
        display: inline-block;
        position: absolute;
        background-color: $scroll-handle-color;

        &:hover {
            background-color: $scroll-handle-hover-color;
        }

        &:active {
            background-color: $scroll-handle-active-color;
        }
    }
}

#{$prefix}-scrollbar-fixed {
    background-color: $scroll-track-color;
}

#{$prefix}-scrollbar-auto {
    background-color: transparent;
}